{% extends "layout.html" %}
{% block content %}

<h2>My Projects</h2>

<!-- PROJECT 1 -->
<div class="project">
  <h3>Flask Portfolio Website</h3>
  <p>A personal portfolio page built using Python Flask, HTML, CSS.  
     Includes contact form, resume download, and clean UI.</p>
  <p><strong>Tech:</strong> Flask, HTML, CSS, Python</p>
  <p><a href="https://github.com/mohammedraiyaanf25is-netizen/portfolio" target="_blank">GitHub Link</a></p>
</div>

<hr>

<!-- PROJECT 2 -->
<div class="project">
  <h3>2D Game (Python)</h3>
  <p>A simple 2D game made using Python (Pygame or Tkinter).  
     Features character movement and score tracking.</p>
  <p><strong>Tech:</strong> Python</p>
  <p><a href="https://github.com/mohammedraiyaanf25is-netizen/2d-game" target="_blank">GitHub Link</a></p>
</div>

<hr>

<!-- PROJECT 3 -->
<div class="project">
  <h3>Student Result Analyzer</h3>
  <p>A small Python program that calculates student grades, averages,
     and displays results in a clean format.</p>
  <p><strong>Tech:</strong> Python</p>
  <p><a href="https://github.com/mohammedraiyaanf25is-netizen/result-analyzer" target="_blank">GitHub Link</a></p>
</div>

{% endblock %}